/* 352 467 495*/
.scale-xs-left, .scale-sm-left, .scale-lg-left{
    height: 1px;
    width: 1px;
}

.scale-xs-top, .scale-sm-top, .scale-lg-top{
    height: 1px;
    width: 1px;
}
/* animations*/
.scale-xs-left{
    animation: xs-left linear 2s;
}
.scale-sm-left{
    animation: sm-left linear 2s;
}
.scale-lg-left{
    animation: lg-left linear 2s;
}

.scale-xs-top{
    animation: xs-top linear 2s;
}
.scale-sm-top{
    animation: sm-top linear 2s;
}
.scale-lg-top{
    animation: lg-top linear 2s;
}

@keyframes xs-left {
    from{
        transform:scaleX(0);
    }
    to{
        transform:scaleX(300);
    }
}
@keyframes sm-left {
    from{
        transform:scaleX(0);
    }
    to{
        transform:scaleX(300) ;
    }
}
@keyframes lg-left {
    from{
        transform:scaleX(0);
    }
    to{
        transform:scaleX(300) ;
    }
}
@keyframes xs-top {
    from{
        transform:scaleY(0);
    }
    to{
        transform:scaleY(300) ;
    }
}
@keyframes sm-top {
    from{
        transform:scaleY(0) ;
    }
    to{
        transform:scaleY(300) ;
    }
}
@keyframes lg-top {
    from{
        transform:scaleY(0) ;
    }
    to{
        transform:scaleY(300) ;
    }
}


