@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Sunnyspells";
    src: local("Sunnyspells"),
     url("./assets/SunnyspellsRegular-MV9ze.otf") format("truetype");
    font-weight: bold;
    }